*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}


.slider{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}

#slideimg{
  width: 100%;
  height: 100%;
  animation: zoom 3s linear infinite;
}

@keyframes zoom{
  0%{
    transform: scale(1.3);
  }
  15%{
    transform: scale(1);
  }
  85%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.3);
  }
}

.overlay{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.594),rgba(0, 0, 0, 0.583));
  position: absolute;
  top: 0;   
}

/* .banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(man.webp);
  background-size: cover;
  background-position: center;
}   */

.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 130px;
  cursor: pointer;
  z-index: 1;
  transform: rotate(270deg);
}

#shortcuticon{
  transform: rotade(270deg);
}

.navbar ul li{
  position: relative;
  list-style: none;
  display:inline-block;
  margin: 0 20px;
   
}

.navbar ul li a{
  text-decoration: none;
  color:#fff;
  text-transform: uppercase;
}


.navbar ul li::after{
  content: "";
  height: 3px;
  width: 0;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}

.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1{
  font-size: 40px;
  margin-top: 80px;
  color: #fff;
  font-weight: 600;
  transition: 0.5s;
}

.content h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;

}

.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 20px;
}

button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 20px;
  font-weight: bold;
  border: 2px solid #ffffff;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span{
  background: #006dcc;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span{
  width: 100%;
}

button:hover{
  border: none;
}

@media screen and (max-width: 770px){
  .banner-text h1{
    font-size: 44px;
  }
  .banner-btn a{
    display: block;
    margin: 20px auto;
  }
}

 